
body {
  background: url("asssets/WhatsApp\ Image\ 2025-05-16\ at\ 8.05.01\ PM\ \(1\).jpeg");
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  min-height: 100vh;
}

h2, h3, h4, h5 {
  color: #ffffff;
  font-weight: bold;
}


.level-card {
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.level-card:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.2);
}

.level-card.border-primary {
  border: 3px solid #ff9e00;
}

input[type="text"] {
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 10px;
}


button.btn {
  background-color: #ff9e00;
  border: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button.btn:hover {
  background-color: #e98d00;
}

#game-board {
  display: grid;
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
  height: 50%;
  width: 50%;
}

#game-board.easy {
  grid-template-columns: repeat(4, 1fr);
}
#game-board.medium {
  grid-template-columns: repeat(6, 1fr);
  
}
#game-board.hard {
  grid-template-columns: repeat(8, 1fr);
}

.game-card {
  width: 100%;
  transition: transform 0.6s;
  aspect-ratio: 1 / 1;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
  border-radius: 10px;
}
.game-card:hover{
 transform: scale(1.05) !important;  
}

.card.flipped {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}
.card.matched .card-back {
  
  background-color:green ;
  /* transition: scale(1.1); */
   /* transition: 0.20s ease; */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
   

}
/* .card.matched { 
  transform: scale(1.1);
  background-color: rgba(146, 143, 143, 0.2);
} */
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

.card-front {

  color: #333;
  border: none;
 
}

.card-back {
 
  transform: rotateY(180deg);
   font-size: 3rem;
}

.game-stats span {
  font-size: 1rem;
  margin: 0 5px;
  color: #fff;
}

#win-message {
  color: #ffc107;
  font-weight: bold;
}